*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: hsl(var(--hue), 100%, 20%); */ 
    background-color: white; /* added instead */
  }
  
  body.correct {
    /* --hue: var(--hue-correct); */
    background-color:var(--hue-correct); /* added instead */
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    /* width: 800px; */
    width: 100px; /* added instead */
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 10px 2px; */
  }
  
  .btn-grid {
    display: grid;
    /* grid-template-columns: repeat(1, auto); */
    grid-template-columns: repeat(1, 75px); /* added instead */
    /* gap: 10px; */
    gap: 5px; /* added instead */
    margin: 20px 0;
    justify-content: center; /* added  */
    align-items: center; /* added  */
  }
  
  /* added  */
  .controls {
    position: fixed;
    justify-content: center; 
    align-items: center;
    
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    /* color: white; */
    color: black; /* added  */
    font-size: large;/* added  */
    font-weight: bold;/* added  */
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    
  
    /* added  */
    position: relative;
    top: 20px;
    bottom: 0px;
    left: 500px;
    right: 50px;
  }
  
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  
  /* added  */
  .instruction-container{
    display: none;
    position: fixed;
    top: 150px;
    left: 100px;
    right: 100px;
    bottom: 0;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    padding: 10px;
    
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    flex-direction: column;
  }
  
  .instruction-container.show{
    display: flex;
  }
  
  .instruction-container button{
    position: relative;
    top: 10px;
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: .25em .5em;
    cursor: pointer;
    /* top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px; */
  }
  